@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.background-header {
    background: url("../images/background.png");
    width: 1315px;
    height: 800px;
    display: block;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.popit {
    left: 15%;
    top: 27%;
    position: absolute;
    font-family: sans-serif;
    color: aliceblue;

}

.popit-text {
    left: 15%;
    top: 40%;
    position: absolute;
    font-family: sans-serif;
    color: aliceblue;

}

.card-body {
    flex: 1 1 auto;
    padding: 10rem 1rem;
}

.card {
    background-color: unset;
    border: unset;
}

.btn {
    border-radius: 2rem;
    padding: 0.375rem 2.75rem;
}

.btn-primary {
    background-color: #04aff1bf;
    border-color: #0d8efdbf;
}

.nav-link {
    color: black;
}

.font-Montserrat {
    font-family: Montserrat;
}

.bg-aquamarine {
    background-color: #6effce59;
}

.font-130 {
    font-size: 130px;
}

.bg-oval {
    background-image: url("../images/bg-grid.png");
    background-repeat: no-repeat;
    background-position: center;
}

IMG.displayed {
    margin-top: 80px;
    margin-left:80px;
}

.blocktext {
    margin-top: 150px;
}